*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.demo-1, .demo-2{
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

 .container .style{
    background-color: #2ecc71;
    border: 1px solid black;
    height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;     
 }

 .demo-1 .style{
    flex: 1 1 calc(25%-5px);
 }

.demo-2 .style:nth-child(1) {
    flex: 1 1 calc(50% - 5px);
}

.demo-2 .style:nth-child(2) {
    flex: 1 1 calc(25% - 5px);
}

.demo-2 .style:nth-child(3) {
    flex: 1 1 calc(25% - 5px);
}