*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(62, 62, 62);
}

header{
    background-color: #009be5;
    padding: 10px;
}

header div.container:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

header div.container:nth-of-type(2){
    color: white;
    display: flex;
    justify-content: space-between;
    

}
header ul{
    display: flex;
}

header div.container:nth-of-type(1) a{
    color: white;
    /* làm cho mất gạch chân */
    text-decoration: none;
    font-weight: lighter;
}

header div.container:nth-of-type(1) i{
    color: white;
}

header div.container:nth-of-type(1) img{
    border-radius: 15px;
}